#Super data project

Projet Linéaire

Membre du groupe: Jeremy noh, Antoine François, julien Luccioni

notre jeu de donnée sera le recensement des logements sociaux à Paris

## Import Lib

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy


from sklearn import linear_model 
from sklearn import datasets
from sklearn.metrics import mean_squared_error, r2_score 
import seaborn as sns

#  Import  DATASET

In [13]:
logements = pd.read_json("./logements-sociaux-finances-a-paris.json")
## print(logements)

# Tri des données

In [58]:
data = []
##codePostal = []
columns =  ["annee","codePostal","nbLogement","nature","mode"]


for x in logements.fields:
    ##codePostal.append(x["code_postal"])
    row = [x["annee"],x["code_postal"],x["nb_logmt_total"],x["nature_programme"],x["mode_real"] ]  
    data.append(row)
    ##break ; 
    

##codePostaux = np.unique(codePostal)

In [61]:
dataset = pd.DataFrame(data, columns=columns)
##dataset['target'] =  codePostaux
print("Chargement des données effectué.")

Chargement des données effectué.

In [62]:
dataset.head()

,annee,codePostal,nbLogement,nature,mode
0,2013,75010,2,logement familial,acquisition conventionnement
1,2013,75011,1,logement familial,acquisition réhabilitation
2,2013,75012,28,résidence pour personnes âgées,construction neuve
3,2013,75013,38,logement familial,acquisition conventionnement
4,2013,75013,1,logement familial,acquisition réhabilitation

nb_logmt_total
code_postal
nature_programme
annee
mode_real