#Super data project

Projet Linéaire

Membre du groupe: Jeremy noh, Antoine François, julien Luccioni

notre jeu de donnée sera le recensement des logements sociaux à Paris

## Import Lib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy


from sklearn import linear_model 
from sklearn import datasets
from sklearn.metrics import mean_squared_error, r2_score 
import seaborn as sns

#  Import  DATASET

In [2]:
logements = pd.read_json("./liste_des_prenoms.json")
## print(logements)

# Tri des données

In [10]:
data = []

columns =  ["nombre","annee","nombre_total_cumule","sexe","prenoms"]

for x in logements.fields:

    row = [x["nombre"],x["annee"],x["nombre_total_cumule"],x["sexe"],x["prenoms"] ]  
    data.append(row)
    break ; 

##codePostaux = np.unique(codePostal) 
print(data)

[[15, '2016', 289, 'M', 'Bastien']]

In [11]:
dataset = pd.DataFrame(data, columns=columns)
##dataset['target'] =  codePostaux
print("Chargement des données effectué.")

Chargement des données effectué.

In [12]:
dataset.head()

   nombre annee  nombre_total_cumule sexe  prenoms
0      15  2016                  289    M  Bastien

nb_logmt_total
code_postal
nature_programme
annee
mode_real

# Modèle simple

### Données d'entrée

Dans ce premier modèle simple, nous allons essayer de prédire la largeur de la pétale (en cm) en fonction de sa longueur (en cm). L'objectif est de déterminer s'il existe un lien linéaire entre ces deux variables, et si oui, modéliser ce lien par une régression linéaire simple.

In [13]:
## X_train = dataset["annee"]
## Y_train = dataset["prenoms"]

In [14]:
## plt.figure(figsize=(12, 7))
## plt.scatter(X_train, Y_train)
## plt.show()